body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212; /* A dark gray background */
  color: #e0e0e0; /* A light gray for text */
}

* {
  box-sizing: border-box;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}