.article {
  padding: 1rem 0;
  margin-top: 4rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.meta {
  display: flex;
  gap: 1rem;
  color: var(--text-secondary);
  margin-bottom: 2.5rem;
}

/* Responsive Video Player */
.videoPlayerWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  margin-bottom: 2rem;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.videoPlayerWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.description {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #c0c0c0;
}

.description p {
  margin-bottom: 1.5rem;

  /* --- THIS IS THE FIX --- */
  /* Ensures that long strings without spaces will wrap to the next line */
  overflow-wrap: break-word;
  word-wrap: break-word; /* For older browser compatibility */
  /* ----------------------- */
}

.tags {
  margin-top: 3rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap; /* Allow tags to wrap on smaller screens */
}

.tag {
  background-color: var(--background-light);
  border: 1px solid var(--border-color);
  color: var(--text-secondary);
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .video {
    margin-top: 2rem;
  }

  .title {
    font-size: 2rem; /* Reduce title size on mobile */
  }
}